@model Interview.Models.Dish

@{
    ViewData["Title"] = "Create Dish";
}

<h2>新增菜單</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name" class="control-label">名稱</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label">圖片網址</label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">價格</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="新增" class="btn btn-primary" />
    </div>
</form>
<div>
    <a class="btn btn-info" style="display:flex; justify-content:center;margin:auto;width:100px;" asp-action="Index">回到菜單</a>
</div>

