@model Interview.Models.Dish
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="d-flex justify-content-center">
        <h3>@Model.Name</h3>
    </div>
    <div class="d-flex justify-content-center">
        <img src="@Model.ImageUrl" style="width: 50%" />
    </div>
    <div class="d-flex justify-content-center">
        @Model.Price.ToString("N0")元
    </div>
    <div class="d-flex justify-content-center">
        成份:
        <ul>            
            @foreach(var item in Model.DishIngredients)
            {
                <li>
                    @item.Ingredient.Name
                </li>
            }
        </ul>
    </div>
    <a class="btn btn-info" style="display:flex; justify-content:center;margin:auto;width:100px;" asp-action="Index">回到菜單</a>
</div>